/* Estilos para la página de Inicio */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh; /* Asegura que el contenido cubra toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #ff8566;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.main-section {
    padding: 20px;
    flex-grow: 1; /* Hace que el contenido principal se expanda para empujar el footer hacia abajo */
}

main{
    background-image: url(jpg/background.jpg);
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card-1{
    color: #ff8566;
    padding: 10px;
    border: 1px solid #ff8566;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background-image: url(ps5.jpeg);
    background-size: cover; /* <- Asegúrate de que cada línea termine con un punto y coma */
    background-repeat: no-repeat;
    background-position: center;
}
.product-card-1:hover{
    background: rgba(0, 0, 0, 0.8);
}
.product-card-2{
    color: #ff8566;
    padding: 10px;
    border: 1px solid #ff8566;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background-image: url(jpg/mancuernas.jpg);
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover; /* <- Asegúrate de que cada línea termine con un punto y coma */
    background-repeat: no-repeat;
    background-position: center;
}
.product-card-2:hover{
    background: rgba(0, 0, 0, 0.8);
}
.product-card-3{
    color: #ff8566;
    padding: 10px;
    border: 1px solid #ff8566;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background-image: url(jpg/laptop.jpg);
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover; /* <- Asegúrate de que cada línea termine con un punto y coma */
    background-repeat: no-repeat;
    background-position: center;
}
.product-card-3:hover{
    background: rgba(0, 0, 0, 0.8);
}
.product-card-4{
    color: #ff8566;
    padding: 10px;
    border: 1px solid #ff8566;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background-image: url(jpg/smartwatch.jpg);
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover; /* <- Asegúrate de que cada línea termine con un punto y coma */
    background-repeat: no-repeat;
    background-position: center;
}
.product-card-4:hover{
    background: rgba(0, 0, 0, 0.8);
}
.product-card-5{
    color:#ff8566;
    padding: 10px;
    border: 1px solid #ff8566;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background-image: url(jpg/videogame.jpg);
    background-size: cover; /* <- Asegúrate de que cada línea termine con un punto y coma */
    background-repeat: no-repeat;
    background-position: center;
}
.product-card-5:hover{
    background: rgba(0, 0, 0, 0.8);
}
.product-card-6{
    color: #ff8566;
    padding: 10px;
    border: 1px solid #ff8566;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background-image: url(jpg/auriculares.jpg);
    background-size: cover; /* <- Asegúrate de que cada línea termine con un punto y coma */
    background-repeat: no-repeat;
    background-position: center;
}
.product-card-6:hover{
    background: rgba(0, 0, 0, 0.8);
}
.product-card-7{
    color: #ff8566;
    padding: 10px;
    border: 1px solid #ff8566;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background-image: url(jpg/tablet.jpg);
    background-size: cover; /* <- Asegúrate de que cada línea termine con un punto y coma */
    background-repeat: no-repeat;
    background-position: center;
}
.product-card-7:hover{
    background: rgba(0, 0, 0, 0.8);
}
.product-card-8{
    color: #ff8566;
    padding: 10px;
    border: 1px solid #ff8566;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background-image: url(jpg/camara.jpg);
    background-size: cover; /* <- Asegúrate de que cada línea termine con un punto y coma */
    background-repeat: no-repeat;
    background-position: center;
}
.product-card-8:hover{
    background: rgba(0, 0, 0, 0.8);
}
.product-card img {
    width: 100%;
    height: auto;
}

.old-price {
    text-decoration: line-through;
    color: #d8d8d8;
}

.btn {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #ff8566;
}

/* Footer al fondo de la página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Empuja el footer al fondo cuando sea necesario */
}
